/* CSS HERE */


/* Try: updating the background to a gradient */


/* Try: changing the font styling of h1 or h2 elements */


/* Try: targeting one element on a specific site and changing something about it's appearance*/




/*This is the website I am refferencing*/
/* https://chatnewstoday.ca/2021/02/24/no-change-in-covid-19-case-numbers-in-medicine-hat/ */ 


mark {
    color: black;
    background: #D4A29C;
    background-color: #D4A29C;
    padding: 5px;
    font-family: 'Krona One', sans-serif;
}

mark.blue{
    background-color: #D4A29C;
    font-family: 'Krona One', sans-serif;
    
}

/*Icon Refference*/
/* <div>Icons made by <a href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> */








